body{background-color: #EAF6F6;

}
hr{
    /* background-color: red; */
    border-style: dotted none none;
    /* border-top-style: dotted;  same as upper */
    /* height: 0px; */
    border-color: grey;
    border-width: 3px;
    width: 10%;
}
h1, h3{
    color: #66BFBF;
}